@import './base.css';

@media (pointer: fine) {
  * {
    cursor: none !important;
  }
}

@media (max-width: 480px) {
  #portfolio {
    max-height: 90vh !important;
    min-height: 90vh !important;
  }
  main {
    max-height: 80% !important;
    min-height: 0vh !important;
  }
  #app, .body, .input-text, .suggestion {
    font-size: 2vw !important;
  }
  .blinking-cursor {
    height: 2vw;
  }
}

@media (min-width: 480px) and (max-height: 480px) {
  #app, .body, .input-text, .suggestion {
    font-size: 2vh !important;
  }
  .blinking-cursor {
    height: 2vh;
  }
}

@media (min-width: 480px) {
  #app, .body, .input-text, .suggestion {
    font-size: .75rem !important;
  }
  .blinking-cursor {
    height: .75rem;
  }
}

@media (min-width: 767px) {
  #app, .body, .input-text, .suggestion {
    font-size: 1rem !important;
  }
  .blinking-cursor {
    height: 1.1rem;
  }
}

@media (min-width: 979px) {
  #app, .body, .input-text, .suggestion {
    font-size: 1rem !important;
  }
  .blinking-cursor {
    height: 1.1rem;
  }
}

@media (min-width: 1200px) {
  #app, .body, .input-text, .suggestion {
    font-size: 1rem !important;
  }
  .blinking-cursor {
    height: 1.1rem;
  }
}